<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data noupdate="1">
        <menuitem
            id="abj_floristeria.root"
            name="Floristeria"
            sequence="1"
        />

        <record id="abj_floristeria.flor_action" model="ir.actions.act_window">
            <field name="name">Flor</field>
            <field name="res_model">abj_floristeria.flor</field>
            <field name="view_mode">tree,form,kanban</field>
        </record>
        <menuitem id="abj_floristeria.flor_menu" name="Flor" parent="abj_floristeria.root" action="abj_floristeria.flor_action" sequence="10" />

        <record id="abj_floristeria.ramo_action" model="ir.actions.act_window">
            <field name="name">Ramo</field>
            <field name="res_model">abj_floristeria.ramo</field>
            <field name="view_mode">tree,form,kanban</field>
        </record>
        <menuitem id="abj_floristeria.ramo_menu" name="Ramo" parent="abj_floristeria.root" action="abj_floristeria.ramo_action" sequence="20" />
        
        <record id="abj_floristeria.cliente_action" model="ir.actions.act_window">
            <field name="name">Cliente</field>
            <field name="res_model">res.partner</field>
            <field name="view_mode">tree,form,kanban</field>
            <field name="domain">[('es_cliente_floristeria','=',True)]</field>
        </record>
        <menuitem id="abj_floristeria.cliente_menu" name="Clientes" parent="abj_floristeria.root" action="abj_floristeria.cliente_action" sequence="30"/>


        <record id="abj_floristeria.pedido_action" model="ir.actions.act_window">
            <field name="name">Pedido</field>
            <field name="res_model">abj_floristeria.pedido</field>
            <field name="view_mode">tree,form</field>
        </record>
        <menuitem id="abj_floristeria.pedido_menu" name="Pedidos" parent="abj_floristeria.root" action="abj_floristeria.pedido_action" sequence="40"/>
    
        <record id="action_reparto" model="ir.actions.act_window">
        <field name="name">Reparto</field>
        <field name="res_model">abj_floristeria.reparto</field>
        <field name="view_mode">tree,form</field>
        </record>
        <menuitem id="abj_floristeria.reparto_menu" name="Reparto" parent="abj_floristeria.root" action="action_reparto" sequence="50"/>

    </data>
</odoo>
